:root {
  --color-white: #FFF;
  --main-container-bg-color: #F5F5F6;
  --card-box-shadow: 0px 1px 2px 1px rgba(52, 53, 55, 0.18);
  --border-color: #dee2e6;
  --card-container-height:320px;
  --card-container-width:275px;
  --candidate-image-wh-size:125px;
}

html, body {
  font-family: 'Lato', sans-serif !important;
}

.body-container {
  padding-left: 0;
  padding-right: 0;
}

.main-container {
  background-color: var(--main-container-bg-color);
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.module-container {
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.constituency-card {
  box-shadow: var(--card-box-shadow);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--color-white);
  border-color: var(--color-white);
  transition: border 300ms ease;
}

.constituency-card:hover {
  border-color: var(--blue);
}

.constituency-card a:hover {
  text-decoration:none !important;
}

.card-box {
  background: #FFFFFF;
  box-shadow: var(--card-box-shadow);
  border-radius: 3px;
}

.module-breadcrumb {
  background-color: var(--main-container-bg-color);
}

.card-grid {
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;
  
  /* Supports Grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-container-width), 1fr));
  grid-auto-rows: minmax(var(--card-container-height), auto);
  grid-gap: 1em;
}

.card-container {
  height:var(--card-container-height);
  
  /* Flex Fallback */
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 var(--card-container-height);
}

.card-container .candidate-img {
  width: var(--candidate-image-wh-size);
  height: var(--candidate-image-wh-size);
}
.card-container .candidate-card {
  width: 100%;
  height: 100%;
  text-align: center;
}

/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
  .card-container {
    margin: 0;
  }
}

input[type="number"].pincode-input::-webkit-inner-spin-button, 
input[type="number"].pincode-input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"].pincode-input {
    -moz-appearance: textfield;
    -webkit-appearance: textfield; 
}

.profile-picture-container {
border-right: none;
overflow: hidden;
}

@media (min-width: 576px) {
.profile-picture-container{
  border-right: 1px solid var(--border-color);
  }
 }

.profile-picture-container .profile-picture {
  max-height: 200px !important;
  max-width: 200px !important;
}

.candidate-info-table td {
  word-break: break-all;
}

.link{
  color: var(--blue) !important;
  cursor: pointer !important;
}

.pre-wrap {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;   
    word-wrap: break-word;       
}

