:root {
  --color-white: #FFF;
  --main-container-bg-color: #F5F5F6;
  --card-box-shadow: 0px 1px 2px 1px rgba(52, 53, 55, 0.18);
}

html, body {
  font-family: 'Lato', sans-serif !important;
}

.body-container {
  padding-left: 0;
  padding-right: 0;
}

.main-container {
  background-color: var(--main-container-bg-color);
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.module-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.constituency-card {
  box-shadow: var(--card-box-shadow);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--color-white);
  border-color: var(--color-white);
  transition: border 300ms ease;
}

.constituency-card:hover {
  border-color: var(--blue);
}

.constituency-card a:hover {
  text-decoration:none !important;
}

.card-box {
  background: #FFFFFF;
  box-shadow: var(--card-box-shadow);
  border-radius: 3px;
}

.module-breadcrumb {
  background-color: var(--main-container-bg-color);
}

/*candidates carousel related css*/
.candidates-carousel .carousel-control-prev-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23007bff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.candidates-carousel .carousel-control-next-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23007bff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.candidates-carousel .carousel-control-button{
  padding:1rem;
  background-color: var(--color-white);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  box-shadow: var(--card-box-shadow);
}

.candidates-carousel .carousel-control-prev,.candidates-carousel .carousel-control-next,.candidates-carousel .carousel-control-next:focus,.candidates-carousel .carousel-control-next:hover,.candidates-carousel .carousel-control-prev:focus,.candidates-carousel .carousel-control-prev:hover{
  opacity: 1;
}


@media (max-width: 576px) {
  .candidates-carousel .carousel-control-prev{
    margin-left: -10px;
  }

  .candidates-carousel .carousel-control-next{
    margin-right: -10px;
  }
 }

/*candidate card related css*/
.candidate-card{
  width: 300px;
}

@media (min-width: 576px) {
  .candidate-card{
  width: 400px;
  }
 }

.candidate-card .candidate-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin:1rem auto;
}

input[type=number].pincode-input::-webkit-inner-spin-button, 
input[type=number].pincode-input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"].pincode-input {
    -moz-appearance: textfield;
}

.gradient-bg{
background-image: linear-gradient( 0deg,  rgba(6,183,249,1) 11.2%, rgb(0, 123, 255) 91.1% );
}

.profile-header{
    position: relative;
    padding:1rem;
    text-align: center;
}

.profile-header .profile-picture-container{
  display: block;
  height: 170px;
  width:170px;
  background-color: var(--color-white);
  box-shadow: var(--card-box-shadow);
  border-radius: 50%;
  padding:10px;
}

.profile-header .profile-picture-container .profile-picture{
  height: 150px;
  width:150px;
  border-radius: 50%;
}

.candidate-info-table td{
  word-break: break-all;
}
