{{ define "content" }}
<section class="mt-2">
    <ol class="breadcrumb px-0 module-breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/getconstituency?constituency={{.Const}}">{{.ConstituencyName}}</a></li>
        <li class="breadcrumb-item active">Candidate Info</li>
    </ol>
</section>
<section>
    <h3 class="text-center mt-3 mb-4 font-weight-light">Candidate Info - {{.Name}}</h3>
    <div class="card-box">
        <div class="w-100">
            <div class="gradient-bg profile-header d-flex justify-content-center align-items-center">
                <div class="profile-picture-container">
                    <img class="profile-picture" src="photos/{{.Id}}.JPG" alt="Card image cap">
                </div>
            </div>
        </div>
        <h3> Personal Information </h3>
        <div class="w-100 d-block">
        	<table class="table table-bordered mb-0 candidate-info-table">
        		<tbody>
        			<tr>
                        <td class="w-25 text-nowrap">
                            Symbol
                        </td>
                        <td>
                            <img src="symbols/{{.Id}}.JPG">
                        </td>
                    </tr>
                    <tr>
                        <td class="w-25 text-nowrap">Name</td>
                        <td>{{.Name}}</td>
                    </tr>
                    <tr>
                        <td class="w-25 text-nowrap">Party</td>
                        <td>{{.Party}}</td>
                    </tr>
                    <tr>
                        <td class="w-25 text-nowrap">Age</td>
                        <td>{{.Age}} years</td>
                    </tr>
                    <tr>
                        <td class="w-25 text-nowrap">Gender</td>
                        <td>{{.Gender}}</td>
                    </tr>
                    <tr>
                        <td class="w-25 text-nowrap">Phone</td>
                        <td>{{.Phone}}</td>
                    </tr>
                    <tr>
                        <td class="w-25 text-nowrap">Email</td>
                        <td>{{.Email}}</td>
                    </tr>
                    <tr>
                        <td class="w-25 text-nowrap">Education</td>
                        <td>{{.Education}}</td>
                    </tr>
                    <tr>
                        <td class="w-25 text-nowrap">Political Background</td>
                        <td><a href="{{.PoliticalLink}}">{{.Political}}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3> Financial Information </h3>
        <div class="w-100 d-block">
            <table class="table table-bordered mb-0 candidate-info-table">
                <tbody>
                    <tr>
                        <td class="w-25 text-nowrap">Livelihood</td>
                        <td>{{.Livelihood}}</td>
                    </tr>
                    <tr>
                        <td class="w-25 text-nowrap">Income Source</td>
                        <td>{{.Income}}</td>
                    </tr>
                    <tr>
                        <td class="w-25 text-nowrap">Latest ITR</td>
                        <td>
                        	{{.ITR18}} | {{.ITR17}} | {{.ITR16}}
                        </td>
                    </tr>
                    <tr>
                        <td class="w-25 text-nowrap">Total Assets</td>
                        <td>{{.Assets}}</td>
                    </tr>
                    <tr>
                        <td class="w-25 text-nowrap">Total Liabilities</td>
                        <td>{{.Liabilities}}</td>
                    </tr>
                    <tr>
                        <td class="w-25 text-nowrap">Qualification</td>
                        <td>{{.Qualification}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3> Criminal Record </h3>
        <div class="w-100 d-block">
            <table class="table table-bordered mb-0 candidate-info-table">
            	<tbody>
                    <tr>
                        <td class="w-25 text-nowrap">Pending Cases</td>
                        <td>{{.PendingCases}}</td>
                    </tr>
                    <tr>
                        <td class="w-25 text-nowrap">Pending Cases Description</td>
                        <td>{{.PendingDescription}}</td>
                    </tr>
                    <tr>
                        <td class="w-25 text-nowrap">Convictions</td>
                        <td>{{.ConvictedCases}}</td>
                    </tr>            		
                </tbody>
            </table>
        </div>
        <div class="w-100 d-block">
        	<a href="{{.Affidavit}}">
        		<h3>Affidavit</h3>
        	</a>	
        </div>
        <div>
        	<span onclick="prev('{{.Id}}')">Prev</span>
        	<span onclick="next('{{.Id}}')">Next</span>
        </div>
    </div>
</section>
{{end}}