<section class="mt-2">
    <ol class="breadcrumb px-0 module-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Chennai North</li>
    </ol>
</section>
<section>
    <h3 class="text-center mt-3 mb-4 font-weight-light">Chennai North - Constituency Info</h3>
    <div class="card-box">
        <div class="table-responsive w-100 d-block">
            <table class="table table-bordered mb-0">
                <tbody>
                    <tr>
                        <td class="text-nowrap w-25">Constituency Name</td>
                        <td class="text-nowrap">Chennai North</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap w-25">MP Name</td>
                        <td class="text-nowrap">T.G.Venkatesh Babu</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap w-25">MP Party</td>
                        <td class="text-nowrap">ADMK</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap w-25">Reference</td>
                        <td class="text-nowrap"><a class="mr-2" href="#" target="_blank">Find your MP</a> | <a class="ml-2" href="#" target="_blank">Wikipedia</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section>
    <h3 class="text-center mt-4 mt-sm-5 mb-4 font-weight-light">Chennai North - Area List</h3>
    <div class="card-box">
        <div class="table-responsive w-100 d-block">
            <table class="table table-bordered mb-0">
                <thead class="thead-light">
                    <tr>
                        <th class="text-nowrap" scope="col">#</th>
                        <th class="text-nowrap" scope="col">Area</th>
                        <th class="text-nowrap" scope="col">Pincode</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-nowrap">1</td>
                        <td class="text-nowrap">Area 1</td>
                        <td class="text-nowrap">666666</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">2</td>
                        <td class="text-nowrap">Area 2</td>
                        <td class="text-nowrap">666666</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">3</td>
                        <td class="text-nowrap">Area 3</td>
                        <td class="text-nowrap">666666</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">4</td>
                        <td class="text-nowrap">Area 4</td>
                        <td class="text-nowrap">666666</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap">5</td>
                        <td class="text-nowrap">Area 5</td>
                        <td class="text-nowrap">666666</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section>
    <h3 class="text-center mt-4 mt-sm-5 mb-4 font-weight-light">Chennai North - Candidates List</h3>
    <div id="candidateCarousel" class="carousel slide candidates-carousel" data-ride="carousel" data-interval="false" data-wrap="false">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card mx-auto candidate-card">
                    <img class="candidate-img" src="https://via.placeholder.com/150" alt="R.Mohan Raj">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-truncate">Name: R.Mohan Raj</li>
                        <li class="list-group-item text-truncate">Age: 65</li>
                        <li class="list-group-item text-truncate">Qualification: B.sc. Botany (discontinued)</li>
                        <li class="list-group-item text-truncate">Phone: 9498119498</li>
                        <li class="list-group-item text-truncate">Assets: 4.2Cr</li>
                        <li class="list-group-item text-truncate">Livelihood: Real Estate Business</li>
                        <li class="list-group-item text-truncate">Party: DMK</li>
                    </ul>
                    <div class="card-body text-center">
                        <a href="#" class="card-link">Full Details</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card mx-auto candidate-card">
                    <img class="candidate-img" src="https://via.placeholder.com/150" alt="Card image cap">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-truncate">Name: Kalanithi Veerasami</li>
                        <li class="list-group-item text-truncate">Age: 49</li>
                        <li class="list-group-item text-truncate">Qualification: MBBS,MS,M.Ch,FRCS</li>
                        <li class="list-group-item text-truncate">Phone: 9884259482</li>
                        <li class="list-group-item text-truncate">Assets: 40Cr</li>
                        <li class="list-group-item text-truncate">Livelihood: Doctor</li>
                        <li class="list-group-item text-truncate">Party: DMK</li>
                    </ul>
                    <div class="card-body text-center">
                        <a href="#" class="card-link">Full Details</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card mx-auto candidate-card">
                    <img class="candidate-img" src="https://via.placeholder.com/150" alt="Card image cap">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-truncate">Name: Mourya G</li>
                        <li class="list-group-item text-truncate">Age: 62</li>
                        <li class="list-group-item text-truncate">Qualification: M.Sc Zoology</li>
                        <li class="list-group-item text-truncate">Phone: 9498119498</li>
                        <li class="list-group-item text-truncate">Assets: 4Cr</li>
                        <li class="list-group-item text-truncate">Livelihood: Retired IPS Officer</li>
                        <li class="list-group-item text-truncate">Party: MNM</li>
                    </ul>
                    <div class="card-body text-center">
                        <a href="#" class="card-link">Full Details</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#candidateCarousel" role="button" data-slide="prev">
            <div class="carousel-control-button d-flex flex-row justify-content-center align-items-center">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </div>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#candidateCarousel" role="button" data-slide="next">
            <div class="carousel-control-button d-flex flex-row justify-content-center align-items-center">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </div>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
