{{ define "content" }}
<section class="mt-2">
    <ol class="breadcrumb px-0 module-breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active">{{.Name}}</li>
    </ol>
</section>
<section>
    <h3 class="text-center mt-3 mb-4 font-weight-light">{{.Name}} - Constituency Info</h3>
    <div class="card-box">
        <div class="table-responsive w-100 d-block">
            <table class="table table-bordered mb-0">
                <tbody>
                    <tr>
                        <td class="text-nowrap w-25 font-weight-bold">Constituency Name</td>
                        <td class="text-nowrap">{{.Name}}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap w-25 font-weight-bold">MP Name</td>
                        <td class="text-nowrap">{{.Current.Name}}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap w-25 font-weight-bold">MP Party</td>
                        <td class="text-nowrap">{{.Current.Party}}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap w-25 font-weight-bold">Reference</td>
                        <td class="text-nowrap"><a class="mr-2" href="{{.Current.Link}}" target="_blank">Find your MP</a> | <a class="ml-2" href="{{.Current.Wiki}}" target="_blank">Wikipedia</a></td>
                    </tr>
                    <tr>
                        <td class="text-nowrap w-25 font-weight-bold">Candidates</td>
                        <td class="">{{len .Candidates}} (Male : {{.Male}}, Female : {{.Female}}, Transgender : {{.Transgender}})</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section>
    <h3 class="text-center mt-4 mt-sm-5 mb-4 font-weight-light">{{.Name}} - Area List</h3>
    <div class="card-box">
        <div class="table-responsive w-100 d-block">
            <table class="table table-bordered mb-0">
                <tbody>
                    {{range .Areas}}
                    <tr>
                        <td class="text-nowrap">{{.}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</section>
<section>
    <h3 class="text-center mt-4 mt-sm-5 mb-4 font-weight-light">{{.Name}} - Candidates List</h3>
    <div class="card-grid my-5">
        <!-- This "card-container" should be repeated for each candidate --> 
        <div class="card-container card-box"> 
            <div class="card candidate-card">
                <div class="p-3 border-bottom d-flex justify-content-center align-items-center">
                    <img class="candidate-img rounded-circle mx-auto" src="photos/{{.Id}}.JPG" alt="{{.Name}}" style="height: 125px; width: 125px;"></div>
                <div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item font-weight-bold">{{.Name}}</li>
                        <li class="list-group-item text-secondary text-truncate">{{.Party}}</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link">View Full Details</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}
