{{ define "content" }}
<section class="mt-2">
    <ol class="breadcrumb px-0 module-breadcrumb">
        <li class="breadcrumb-item"><a href="http://knowyourvote.appspot.com/">Home</a></li>
        <li class="breadcrumb-item active">{{.Name}}</li>
    </ol>
</section>
<section>
    <h3 class="text-center mt-3 mb-4 font-weight-light">{{.Name}} - Constituency Info</h3>
    <div class="card-box">
        <div class="table-responsive w-100 d-block">
            <table class="table table-bordered mb-0">
                <tbody>
                    <tr>
                        <td class="text-nowrap w-25">Constituency Name</td>
                        <td class="text-nowrap">{{.Name}}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap w-25">MP Name</td>
                        <td class="text-nowrap">{{.Current.Name}}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap w-25">MP Party</td>
                        <td class="text-nowrap">{{.Current.Party}}</td>
                    </tr>
                    <tr>
                        <td class="text-nowrap w-25">Reference</td>
                        <td class="text-nowrap"><a class="mr-2" href="{{.Current.Link}}" target="_blank">Find your MP</a> | <a class="ml-2" href="{{.Current.Wiki}}" target="_blank">Wikipedia</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section>
    <h3 class="text-center mt-4 mt-sm-5 mb-4 font-weight-light">{{.Name}} - Area List</h3>
    <div class="card-box">
        <div class="table-responsive w-100 d-block">
            <table class="table table-bordered mb-0">
                <tbody>
                    {{range .Areas}}
                    <tr>
                        <td class="text-nowrap">{{.}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
    </div>
</section>
<section>
    <h3 class="text-center mt-4 mt-sm-5 mb-4 font-weight-light">{{.Name}} - Candidates List</h3>
    <div id="candidateCarousel" class="carousel slide candidates-carousel" data-ride="carousel" data-interval="false" data-wrap="false">
        <div class="carousel-inner">
            {{range $index,$element := .Candidates}}
            <div class="carousel-item {{if eq $index 0}} active {{end}}">
                <div class="card mx-auto candidate-card">
                    <img class="candidate-img" src="photos/{{.Id}}" alt="{{.Name}}">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-truncate">Name: {{.Name}}</li>
                        <li class="list-group-item text-truncate">Age: {{.Age}}</li>
                        <li class="list-group-item text-truncate">Qualification: {{.Qualification}}</li>
                        <li class="list-group-item text-truncate">Phone: {{.Phone}}</li>
                        <li class="list-group-item text-truncate">Assets: {{.Assets}}</li>
                        <li class="list-group-item text-truncate">Livelihood: {{.Livelihood}}</li>
                        <li class="list-group-item text-truncate">Party: {{.Party}}</li>
                    </ul>
                    <div class="card-body text-center">
                        <a href="#" class="card-link">Full Details</a>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
        <a class="carousel-control-prev" href="#candidateCarousel" role="button" data-slide="prev">
            <div class="carousel-control-button d-flex flex-row justify-content-center align-items-center">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </div>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#candidateCarousel" role="button" data-slide="next">
            <div class="carousel-control-button d-flex flex-row justify-content-center align-items-center">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </div>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
{{end}}
