<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Candidate Info for Election 2019 - Chennai</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/lato.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid body-container">
        <header>
            <nav class="navbar navbar-dark bg-primary fixed-top">
                <a class="navbar-brand text-truncate" href="#">Candidate Info for Election 2019 - Chennai</a>
            </nav>
        </header>
        <div class="main-container">
            <div class="container module-container">
                {{ template "content" . }}
            </div>
            
            <div id="disclaimerFooter" class="bg-dark p-3 text-center text-light">
            	<p class="m-0">Disclaimer: All the data we have listed here is as provided by the candidate in the affidavit. If you notice any discrepancy between affidavits and our data please send a mail to <a class="text-light font-italic" href="mailto:incubator.webmaster@gmail.com">incubator.webmaster@gmail.com</a></p>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/bootstrap.min.js"></script>		
</body>

</html>
